body {
    background-color: #f3efef;
}

.container {
    margin-top: 1.2em;
}

.ad-title {
    background-size: cover;
    background-position: center center;
    padding-bottom: 1em;
}

.ad-title .container {
    margin-top: 0;
}

ad-title h1,
.ad-title p {
    color: #fff;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
}

.carousel-caption {
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    color: #fff;
}

.avatar {
    width: 128px;
    height: 128px;
    border-radius: 50%;
}

.avatar-medium {
    max-width: 64px;
    max-height: 64px;
}

.avatar-small {
    max-width: 32px;
    max-height: 32px;
}

.avatar-xs {
    max-width: 26px;
    max-height: 26px;
}

.datepicker table tr td.disabled,
.datepicker table tr td.disabled:hover {
    color: indianred!important;
    text-decoration: line-through;
}

.datepicker table tr td.day.focused,
.datepicker table tr td.day:hover {
    font-weight: bold;
}

blockquote {
    font-style: oblique;
    font-weight: 100;
    color: rgb(90, 81, 81);
}

.rating i {
    color: gold;
}

.pagination {
    margin: 2% 0;
}

.home {
    margin-bottom: 6%;
}